body
{
background-images="images/bg.jpg"
}

p
{
text-align:center;
font-family:"algerian";
font-size:40px
}

h1
{
font-family:"times new roman";
text-align:center;
color:white
}

h2
{
font-family:"comic sans ms";
text-align:center;
color:white
}

h3
{
font-family:"comic sans ms";
text-align:left;
color:white
}

table
{
width:1000;
}
